* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.flex-section {
    padding: 60px 0;
}

h1 {
    font-size: 36px;
    max-width: 539px;
    padding: 60px 0;
    margin: 0 auto;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 25%;
}

h2 {
    margin: 0 0 28px;
}



