* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}



h1 {
    text-align: center;
    font-size: 36px;
    max-width: 548px;
    line-height: 54px;
    padding-top: 30px;
    margin: 0 auto 54px;
    width: 100%;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 22%;
    margin: 0 15px;
}

h2 {
    margin: 0 0 28px;
}

img {
    margin: 0 0 28px;
}

span {
    color: #544837;
    font-weight: 500;
}


