* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    text-align: center;
    padding: 60px 0 60px;
}

.flex-container {
    display: flex;
}

.block {

}


